div {
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

div:nth-of-type(1) {
    background: lightblue;
}

div:nth-of-type(2) {
    background: lightgrey;
}

div:nth-of-type(3) {
    background: lightyellow;
}

div:nth-of-type(1) > span:nth-child(1) {
    background: red;
    border: 1px solid black;
    padding: 5px;
}

div:nth-of-type(1) > span:nth-child(2) {
    background: orange;
    border: 1px solid black;
    padding: 5px;
}

div:nth-of-type(1) > span:nth-child(3) {
    background: yellow;
    border: 1px solid black;
    padding: 5px;
}

div:nth-of-type(2) > span:nth-child(1) {
    background: green;
    border: 1px solid black;
    padding: 5px;
}

div:nth-of-type(2) > span:nth-child(2) {
    background: blue;
    color: white;
    border: 1px solid black;
    padding: 5px;
}

div:nth-of-type(2) > span:nth-child(3) {
    background: cyan;
    border: 1px solid black;
    padding: 5px;
}

div:nth-of-type(3) > span:nth-child(1) {
    background: purple;
    border: 1px solid black;
    padding: 5px;
}

div:nth-of-type(3) > span:nth-child(2) {
    background: black;
    color: white;
    border: 1px solid black;
    padding: 5px;
}

div:nth-of-type(3) > span:nth-child(3) {
    background: white;
    border: 1px solid black;
    padding: 5px;
}